[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 300

[[deploy.envs]]
name = "PORT"
value = "8080"

[[deploy.envs]]
name = "GO_ENV"
value = "production"
